In [2]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns
from fugue_notebook import setup
setup()

In [3]:
from selenium import webdriver
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.common.by import By
from selenium.webdriver.support import expected_conditions as EC
import time

## Build function:

In [4]:
#get all links page:

def all_page(link):
    #data_analyst vieclam24h
    page_links = []
    driver = webdriver.Chrome()
    page_respone = driver.get(link)
    page_links_elements = driver.find_elements_by_xpath('//ul[@class="pagination"]/li/a')
    time.sleep(1) 
    
    page_links = [x.get_attribute('href') for x in page_links_elements]
    page_links = list(set(page_links))
    driver.close()
    return page_links

In [5]:
def title_job(link):
    driver = webdriver.Chrome()
    driver.get(link)
    title_elements = driver.find_elements_by_xpath('//div/h3/a/span[@class="bold transform-job-title"]')
    job_title = [j.text for j in title_elements]
    driver.close()
    return job_title

In [6]:
# link_elements = driver.find_elements_by_css_selector('a.underline-box-job')
def link_elements(link):
    driver = webdriver.Chrome()
    driver.get(link)
    link_elements = driver.find_elements_by_xpath('//div/h3/a[@class="underline-box-job"]')
    job_link = [k.get_attribute('href') for k in link_elements]
#     df_job_link = pd.Series(job_link, name="Job link")
    driver.close()
    return job_link

In [7]:
## Ham lay info_job:
def info_job(job_link):
    driver = webdriver.Chrome()
    company_name = []
    summary = []
    for job in job_link:
        driver.get(job)
        company_elements = driver.find_elements_by_css_selector('div.company-title a.text-dark-blue')
        company = [n.text for n in company_elements]
        if company == []:
            company_elements = driver.find_elements_by_id('company-name')
            company = [n.text for n in company_elements]
        company_name= company_name + company
    

        ## summary
        sum_elements = driver.find_elements_by_css_selector('div.box-main div.box-item')
        sum_e = [x.get_attribute('textContent') for x in sum_elements]
        summary.append(sum_e)
    #split summary:
    results=[]
    for i in range(len(summary)):
        one_job=[]
        for a in range(len(summary[i])):
            per = summary[i][a].split('\n')
            per = [item.strip() for item in per]
            per = list(filter(None, per))
            one_job = one_job+per

        one_job = {one_job[k]: one_job[k + 1] for k in range(0, len(one_job), 2)}
        results.append(one_job)
    driver.close()
    return company_name, results

In [8]:
def get_jd(link):
    driver = webdriver.Chrome()
    jd = []
    jd_elements = []
#     des = []
#     re = []
#     be = []
    driver.get(link)
    jd_elements = driver.find_elements_by_css_selector('div.content-tab')
    jd_e = [n.text for n in jd_elements]
#     des = jd_elements[0].text
#     re = jd_elements[1].text
#     be = jd_elements[2].text
    driver.close()
    return jd_e

## Apply function:

In [9]:
#get all links page:
# driver_page = webdriver.Chrome()
source = ['https://www.topcv.vn/tim-viec-lam-data-analyst-tai-ho-chi-minh-kl2']
page_links = []
for i in range(len(source)):
    page_link = all_page(source[i])
    page_links = page_links + page_link
print(page_links)
print('All pages for searching, include current page: ',len(page_links)+1)

['https://www.topcv.vn/tim-viec-lam-data-analyst-tai-ho-chi-minh-kl2?salary=0&exp=0&sort=top_related&page=2']
All pages for searching, include current page:  2

In [10]:
range(len(page_links))

range(0, 1)

In [11]:
## get all job links:
other_links = []
for i in range(len(page_links)):
    x = link_elements(page_links[i])
    other_links = other_links + x
for i in range(len(source)):
    job_link = link_elements(source[i]) + other_links
print(job_link)

['https://www.topcv.vn/viec-lam/game-data-analyst-phan-tich-du-lieu-game/856539.html?ta_source=JobSearchList', 'https://www.topcv.vn/viec-lam/data-analyst-ho-chi-minh/779789.html?ta_source=JobSearchList', 'https://www.topcv.vn/viec-lam/data-analyst/840625.html?ta_source=JobSearchList', 'https://www.topcv.vn/viec-lam/chuyen-vien-phan-tich-du-lieu/839678.html?ta_source=JobSearchList', 'https://www.topcv.vn/viec-lam/data-analyst-bi-controller-luong-upto-1-500/838249.html?ta_source=JobSearchList', 'https://www.topcv.vn/viec-lam/data-analyst-operations-support-shopee-xpress/801787.html?ta_source=JobSearchList', 'https://www.topcv.vn/viec-lam/data-analyst/468705.html?ta_source=JobSearchList', 'https://www.topcv.vn/brand/transcosmosvietnam/tuyen-dung/data-analyst-contact-call-center-j834750.html?ta_source=JobSearchList', 'https://www.topcv.vn/viec-lam/data-analyst-hcm/833265.html?ta_source=JobSearchList', 'https://www.topcv.vn/viec-lam/data-analyst-executive/832190.html?ta_source=JobSearchList', 'https://www.topcv.vn/viec-lam/data-analyst-business-intelligence/660441.html?ta_source=JobSearchList', 'https://www.topcv.vn/viec-lam/data-analyst-hcm/830822.html?ta_source=JobSearchList', 'https://www.topcv.vn/viec-lam/chuyen-vien-phan-tich-du-lieu-data-analytics/829405.html?ta_source=JobSearchList', 'https://www.topcv.vn/viec-lam/chuyen-vien-phan-tich-du-lieu-mang-xa-hoi-social-media-data-analyst/339679.html?ta_source=JobSearchList', 'https://www.topcv.vn/viec-lam/chuyen-vien-phan-tich-du-lieu-thang-10/828614.html?ta_source=JobSearchList', 'https://www.topcv.vn/viec-lam/data-analyst-intern-ad-network/690727.html?ta_source=JobSearchList', 'https://www.topcv.vn/viec-lam/senior-data-analyst/817666.html?ta_source=JobSearchList', 'https://www.topcv.vn/viec-lam/nhan-vien-phan-tich-du-lieu-data-analyst-officer/852444.html?ta_source=JobSearchList', 'https://www.topcv.vn/viec-lam/chuyen-vien-nhan-su-mang-phan-tich-du-lieu-nhan-su/851296.html?ta_source=JobSearchList', 'https://www.topcv.vn/brand/transcosmosvietnam/tuyen-dung/data-analyst-j850401.html?ta_source=JobSearchList', 'https://www.topcv.vn/viec-lam/data-analyst/847698.html?ta_source=JobSearchList', 'https://www.topcv.vn/viec-lam/data-analyst-intern/845686.html?ta_source=JobSearchList', 'https://www.topcv.vn/viec-lam/data-analyst/696484.html?ta_source=JobSearchList', 'https://www.topcv.vn/brand/xnkphattriendongduong/tuyen-dung/chuyen-vien-phan-tich-thong-ke-data-analyst-j842737.html?ta_source=JobSearchList', 'https://www.topcv.vn/viec-lam/chuyen-vien-phan-tich-du-lieu-bao-cao/841805.html?ta_source=JobSearchList', 'https://www.topcv.vn/viec-lam/nhan-vien-phan-tich-du-lieu-kinh-doanh/839965.html?ta_source=JobSearchList', 'https://www.topcv.vn/viec-lam/chuyen-vien-phan-tich-du-lieu-data-analyst/785373.html?ta_source=JobSearchList', 'https://www.topcv.vn/viec-lam/thuc-tap-sinh-phan-tich-du-lieu/833798.html?ta_source=JobSearchList', 'https://www.topcv.vn/viec-lam/thuc-tap-sinh-data-analyst/828323.html?ta_source=JobSearchList', 'https://www.topcv.vn/viec-lam/thuc-tap-sinh-phan-tich-du-lieu-mang-xa-hoi-social-media-data-analyst-intern/334071.html?ta_source=JobSearchList']

In [12]:
## get title job:
tt_job = []
all_page = source + page_links
print(all_page)
for i in range(len(all_page)):
    tt = title_job(all_page[i])
    tt_job = tt_job + tt
tt_job[:5]

['https://www.topcv.vn/tim-viec-lam-data-analyst-tai-ho-chi-minh-kl2', 'https://www.topcv.vn/tim-viec-lam-data-analyst-tai-ho-chi-minh-kl2?salary=0&exp=0&sort=top_related&page=2']

['Game Data Analyst - Phân Tích Dữ Liệu Game',
 'Data Analyst - Hồ Chí Minh',
 'Data Analyst',
 'Chuyên Viên Phân Tích Dữ Liệu',
 'Data Analyst (BI Controller) _ Lương Upto $1,500']

In [13]:
## get info jobs: 
sm_info = info_job(job_link)
print(sm_info[:5])

(['CÔNG TY TNHH THƯƠNG MẠI DỊCH VỤ VGS', 'CÔNG TY TNHH TRUYỀN HÌNH FPT', 'Công ty Cổ phần VIN3S', 'Công ty cổ phần Hai Bốn Bảy', 'CÔNG TY TNHH FINAN (SoBanHang)', 'Công ty TNHH Shopee Express', 'CÔNG TY TNHH PUZZLE STUDIO', 'Công Ty TNHH TransCosmos Việt Nam', 'Ngân Hàng TNHH MTV Shinhan Việt Nam', 'CÔNG TY TÀI CHÍNH TRÁCH NHIỆM HỮU HẠN MỘT THÀNH VIÊN MIRAE ASSET (VIỆT NAM)', 'CÔNG TY TNHH THƯƠNG MẠI GEARVN', 'Ngân Hàng TNHH MTV Shinhan Việt Nam', 'công ty Viễn Thông Phương Nam', 'Công ty TNHH Lửa Á Châu', 'CÔNG TY TNHH UNICALL', 'CÔNG TY TNHH TT UREKA VIỆT NAM', 'Công ty TNHH Skylink Group', 'Trung Tâm Nâng Cao Chất Lượng Cuộc Sống', 'CÔNG TY CỔ PHẦN GIAO HÀNG TIẾT KIỆM', 'Công Ty TNHH TransCosmos Việt Nam', 'Công ty CP Thế giới Di Động', 'CÔNG TY TNHH FINAN (SoBanHang)', 'DATATYK COMPANY LIMITED', 'CÔNG TY TNHH XUẤT NHẬP KHẨU PHÁT TRIỂN ĐÔNG DƯƠNG - TẬP ĐOÀN THỂ THAO KINGSPORT', 'Ngân Hàng TMCP Xuất Nhập Khẩu Việt Nam (Eximbank)', 'CÔNG TY TNHH EROC COMMERCE (VIỆT NAM)', 'Lotte mart', 'Ngân hàng TMCP Phát triển TP. HCM (HDBank)', 'Meow House', 'Công ty TNHH Lửa Á Châu'], [{'Mức lương': '10-18 triệu', 'Số lượng tuyển': '1 người', 'Hình thức làm việc': 'Toàn thời gian', 'Cấp bậc': 'Nhân viên', 'Giới tính': 'Nam', 'Kinh nghiệm': '1 năm'}, {'Mức lương': 'Thoả thuận', 'Số lượng tuyển': '1 người', 'Hình thức làm việc': 'Toàn thời gian', 'Cấp bậc': 'Nhân viên', 'Giới tính': 'Không yêu cầu', 'Kinh nghiệm': '2 năm'}, {'Mức lương': 'Thoả thuận', 'Số lượng tuyển': '1 người', 'Hình thức làm việc': 'Toàn thời gian', 'Cấp bậc': 'Nhân viên', 'Giới tính': 'Không yêu cầu', 'Kinh nghiệm': '4 năm'}, {'Mức lương': '12-15 triệu', 'Số lượng tuyển': '1 người', 'Hình thức làm việc': 'Toàn thời gian', 'Cấp bậc': 'Nhân viên', 'Giới tính': 'Không yêu cầu', 'Kinh nghiệm': '2 năm'}, {'Mức lương': '1,000-1,500 USD', 'Số lượng tuyển': '1 người', 'Hình thức làm việc': 'Toàn thời gian', 'Cấp bậc': 'Nhân viên', 'Giới tính': 'Không yêu cầu', 'Kinh nghiệm': '3 năm'}, {'Mức lương': 'Thoả thuận', 'Số lượng tuyển': '1 người', 'Hình thức làm việc': 'Toàn thời gian', 'Cấp bậc': 'Nhân viên', 'Giới tính': 'Không yêu cầu', 'Kinh nghiệm': '3 năm'}, {'Mức lương': '10-15 triệu', 'Số lượng tuyển': '2 người', 'Hình thức làm việc': 'Toàn thời gian', 'Cấp bậc': 'Nhân viên', 'Giới tính': 'Không yêu cầu', 'Kinh nghiệm': '1 năm'}, {'Mức lương': 'Tới 30 triệu', 'Số lượng tuyển': '1 người', 'Hình thức làm việc': 'Toàn thời gian', 'Cấp bậc': 'Nhân viên', 'Giới tính': 'Không yêu cầu', 'Kinh nghiệm': '1 năm'}, {'Mức lương': 'Tới 16 triệu', 'Số lượng tuyển': '1 người', 'Hình thức làm việc': 'Toàn thời gian', 'Cấp bậc': 'Nhân viên', 'Giới tính': 'Không yêu cầu', 'Kinh nghiệm': 'Dưới 1 năm'}, {'Mức lương': 'Thoả thuận', 'Số lượng tuyển': '1 người', 'Hình thức làm việc': 'Toàn thời gian', 'Cấp bậc': 'Nhân viên', 'Giới tính': 'Không yêu cầu', 'Kinh nghiệm': '1 năm'}, {'Mức lương': 'Thoả thuận', 'Số lượng tuyển': '1 người', 'Hình thức làm việc': 'Toàn thời gian', 'Cấp bậc': 'Nhân viên', 'Giới tính': 'Không yêu cầu', 'Kinh nghiệm': '2 năm'}, {'Mức lương': 'Tới 16 triệu', 'Số lượng tuyển': '2 người', 'Hình thức làm việc': 'Toàn thời gian', 'Cấp bậc': 'Nhân viên', 'Giới tính': 'Nữ', 'Kinh nghiệm': 'Dưới 1 năm'}, {'Mức lương': '15-20 triệu', 'Số lượng tuyển': '1 người', 'Hình thức làm việc': 'Toàn thời gian', 'Cấp bậc': 'Nhân viên', 'Giới tính': 'Không yêu cầu', 'Kinh nghiệm': '1 năm'}, {'Mức lương': 'Thoả thuận', 'Số lượng tuyển': '1 người', 'Hình thức làm việc': 'Toàn thời gian', 'Cấp bậc': 'Nhân viên', 'Giới tính': 'Không yêu cầu', 'Kinh nghiệm': '1 năm'}, {'Mức lương': 'Thoả thuận', 'Số lượng tuyển': '1 người', 'Hình thức làm việc': 'Toàn thời gian', 'Cấp bậc': 'Nhân viên', 'Giới tính': 'Không yêu cầu', 'Kinh nghiệm': '2 năm'}, {'Mức lương': 'Tới 2 triệu', 'Số lượng tuyển': '1 người', 'Hình thức làm việc': 'Thực tập', 'Cấp bậc': 'Thực tập sinh', 'Giới tính': 'Không yêu cầu', 'Kinh nghiệm': 'Không yêu cầu kinh nghiệm'}, {'Mức lương': 'Thoả thuận', 'Số lượng tuyển': '1 người', 'Hình thức làm việc': 'Toàn thời gian', 'Cấp bậc': 'Nhân viên', 'Giới tính': 'Không yêu cầu', 'Kinh nghiệm': '2 năm'}, {'Mức lương': 'Thoả thuận', 'Số lượng tuyển': '1 người', 'Hình thức làm việc': 'Toàn thời gian', 'Cấp bậc': 'Nhân viên', 'Giới tính': 'Không yêu cầu', 'Kinh nghiệm': '2 năm'}, {'Mức lương': 'Tới 10 triệu', 'Số lượng tuyển': '2 người', 'Hình thức làm việc': 'Toàn thời gian', 'Cấp bậc': 'Nhân viên', 'Giới tính': 'Không yêu cầu', 'Kinh nghiệm': 'Dưới 1 năm'}, {'Mức lương': 'Thoả thuận', 'Số lượng tuyển': '1 người', 'Hình thức làm việc': 'Toàn thời gian', 'Cấp bậc': 'Nhân viên', 'Giới tính': 'Không yêu cầu', 'Kinh nghiệm': '1 năm'}, {'Mức lương': 'Thoả thuận', 'Số lượng tuyển': '1 người', 'Hình thức làm việc': 'Toàn thời gian', 'Cấp bậc': 'Nhân viên', 'Giới tính': 'Không yêu cầu', 'Kinh nghiệm': '1 năm'}, {'Mức lương': '2-3 triệu', 'Số lượng tuyển': '1 người', 'Hình thức làm việc': 'Thực tập', 'Cấp bậc': 'Thực tập sinh', 'Giới tính': 'Không yêu cầu', 'Kinh nghiệm': 'Không yêu cầu kinh nghiệm'}, {'Mức lương': 'Tới 30 triệu', 'Số lượng tuyển': '1 người', 'Hình thức làm việc': 'Toàn thời gian', 'Cấp bậc': 'Nhân viên', 'Giới tính': 'Nữ', 'Kinh nghiệm': '1 năm'}, {'Mức lương': '35-45 triệu', 'Số lượng tuyển': '1 người', 'Hình thức làm việc': 'Toàn thời gian', 'Cấp bậc': 'Nhân viên', 'Giới tính': 'Không yêu cầu', 'Kinh nghiệm': '3 năm'}, {'Mức lương': 'Thoả thuận', 'Số lượng tuyển': '2 người', 'Hình thức làm việc': 'Toàn thời gian', 'Cấp bậc': 'Nhân viên', 'Giới tính': 'Không yêu cầu', 'Kinh nghiệm': '1 năm'}, {'Mức lương': '10-15 triệu', 'Số lượng tuyển': '1 người', 'Hình thức làm việc': 'Toàn thời gian', 'Cấp bậc': 'Nhân viên', 'Giới tính': 'Không yêu cầu', 'Kinh nghiệm': '1 năm'}, {'Mức lương': 'Thoả thuận', 'Số lượng tuyển': '1 người', 'Hình thức làm việc': 'Toàn thời gian', 'Cấp bậc': 'Nhân viên', 'Giới tính': 'Không yêu cầu', 'Kinh nghiệm': '2 năm'}, {'Mức lương': 'Trên 3 triệu', 'Số lượng tuyển': '2 người', 'Hình thức làm việc': 'Thực tập', 'Cấp bậc': 'Thực tập sinh', 'Giới tính': 'Không yêu cầu', 'Kinh nghiệm': 'Không yêu cầu kinh nghiệm'}, {'Mức lương': '0.5-2 triệu', 'Số lượng tuyển': '2 người', 'Hình thức làm việc': 'Thực tập', 'Cấp bậc': 'Thực tập sinh', 'Giới tính': 'Không yêu cầu', 'Kinh nghiệm': 'Không yêu cầu kinh nghiệm'}, {'Mức lương': 'Thoả thuận', 'Số lượng tuyển': '2 người', 'Hình thức làm việc': 'Thực tập', 'Cấp bậc': 'Thực tập sinh', 'Giới tính': 'Không yêu cầu', 'Kinh nghiệm': 'Không yêu cầu kinh nghiệm'}])

In [14]:
## get JD:
all_jd = []
for link in job_link:
    jd = get_jd(link)
    all_jd.append(jd)

In [15]:
all_jd[:5]

[['Tổng hợp dữ liệu người chơi game từ các nguồn Google Analytic/Firebase và Appsflyer;\nTheo dõi số liệu, lập báo cáo và tiến hành phân tích để đưa ra đánh giá cụ thể cho sản phẩm;\nPhản hồi cho đội ngũ sản xuất các chỉ số cần thiết để điều chỉnh tính năng game cho phù hợp;\nNghiên cứu và đưa ra các đề xuất tracking dữ liệu chi tiết cho từng game cụ thể;\nĐưa ra các giải pháp nhằm tối ưu quá trình thu thập, xử lý dữ liệu người chơi;\nPhối hợp với bộ phận sản phẩm tích hợp hệ thống tracking dữ liệu vào game;',
  'Có ít nhất 1 năm kinh nghiệm về phân tích dữ liệu mobile game;\nCó kinh nghiệm làm việc với Firebase cũng như các nguồn tracking khác liên quan;\nHiểu biết tốt về Big Data, BI, Analytics;\nBiết phân tích và giải quyết vấn đề, đưa ra được giải pháp cho từng tình huống cụ thể;\nCó khả năng làm việc độc lập cũng như làm việc nhóm tốt;\nHam học hỏi và đam mê về game;',
  'Được làm việc trong một công ty game năng động, phát triển, đứng đầu về mảng mobile game trong thị trường game Việt. Có nhiều thử thách, cơ hội được đào tạo và nâng cao nghiệp vụ thường xuyên;\nĐược hưởng đầy đủ các chế độ theo quy định của công ty và pháp luật hiện hành;\nĐược đóng BHXH, BHYT, BHTN theo quy định của nhà nước;\nNghỉ phép năm theo quy định đối với người lao động của nhà nước;\nĐược đề xuất, xét thưởng và xét tăng lương định kỳ (6 tháng/lần); \nĐược hưởng các chính sách phúc lợi và các hoạt động văn hóa tập thể phong phú, đa dạng:\nTham gia khám sức khỏe định kỳ, bảo hiểm sức khỏe 24/24;\nTham gia các hoạt động tập thể sôi động của công ty: Team building, lễ hội, du lịch, dã ngoại, Gala cuối năm, …\nĐược làm việc trong môi trường năng động, hiện đại và tiếp cận nhiều công nghệ mới với những đồng nghiệp trẻ tuổi – đầy nhiệt huyết;\nCó nhiều cơ hội thăng tiến, phát triển và ổn định lâu dài.\nThưởng tháng 13 (Ít nhất 1 tháng lương), thưởng tết, thưởng KPI dự án,...'],
 ['Work with the manager to identify market needs.\nDefining, developing and maintaining reports to support decision making.\nProcessing & Interpreting data to get actionable insights.\nWorking closely with business users to understand their data analysis needs/requirements.',
  'Have a degree in Computer Science, Applied Mathematics, Engineering or related field.\nAt least 2 years experience, ideally within a Data Analyst role.\nGood presentation and communication skills and the ability to present you findings clearly and accessibly in the form of reports and presentations to senior colleagues.\nStrong knowledge of PL/SQL.\nExpertise in BI Reporting & Tools would be highly valuable.\nStrong analytical skills and are comfortable dealing with numerical data.\nCapable of handling queries and doubts on your findings.\nHighly goal-driven and work well in fast-paced environments.',
  'Great opportunity to dive deeply into a big data system with high volume of data in challenging domains.\nChallenging working environment, open for new ideas and solutions.\nWe often conduct presentations to improve our individual skill sets, sharing our domain knowledge together.\nYou are encouraged to contribute ideas, corporate with the others and get your ideas to work efficiently.\nUnique culture with many exciting activities: rookie training, 72 hours experience, team building, village festival, club, color fest, happy hour, birthday celebration,..\nObtaining full legal insurance coverage with FPT-Care (official employee).'],
 ['Objective\n• Apply analysis, problem solving methods, processes, and systems to consolidate and analyze, visualize data to generate insights to improve customer experience and business operation. Responsibilities • Assess the effectiveness and accuracy of data sources and data gathering techniques.\n• Analyze and interpret patterns in complex data sets to identify what has happened to the business, why it happened for the purpose of performance management.\n• Use data visualization tools and techniques to generate dashboards, reports and presentations that aid in data storytelling to enable stakeholders understand the pattern of data, analytical findings, recommendations.\n• Create and maintain statistical models for ongoing and ad hoc review and analysis of data.\n• Assist senior Data Scientists to develop Machine Learning models.\n• Develop processes and tools to monitor and analyze model performance and data accuracy.',
  '• Bachelor’s degree in Business Analytics, Business Information System, Computer Science, or Quantitative Analysis.\n• At least 4 years of relevant experience in areas of data analysis, reporting and planning.\n• Experience in querying databases and using programming languages such as R, Python, Scala, SQL.\n• Experience with Google Analytics, Google Cloud Platform, Graph Database is highly preferred.\n• Experience in data management, data modelling, ETL and analysis functions.\n• Experience with data analysis and BI tools such as PowerBI (highly preferred), QuickSight, Tableau.\n• Understanding of information security principles to ensure data privacy compliance is a plus.\n• Strong understanding of Agile principles, practices, and scrum methodology\n• Experience working in Agile teams to support digital transformation projects\n• Proficient in English is highly preferred',
  'Salary is attractive and commensurates with competence\nVarious training on hot-trend technologies, best practices and soft skill\nPerformance review to adjust salary and title/position every year\nBao Viet health insurance / Social insurance as required by law\n13 months of salary + and many other side benefits such as lunch allowance, healthcare program, annual health-screen, sport activities, gifts on special occasions \nSpecial discounts on Vinmec, Vinhomes, Vinschool, VinFast, and other Vinmec, Vinhomes, Vinschool, and VinFast products and services...'],
 ['1. Phân tích dữ liệu và viết báo cáo liên quan đến PMS:\n- Sử dụng Data trên PMS:\n• Doanh thu, sản lượng, trọng lượng\n• Giá bán, phụ phí, giá dịch vụ gia tăng\n• KH, danh sách KH, phân loại\n• Phân tích thông tin từ nguồn “thông tin người nhận”\n- Trình bày các nội dung trên bằng bảng số liệu, biểu đồ, bản đồ và đề xuất các hình thức minh hoạ hợp lý khác\n- Thu thập thông tin để triển khai các chiến dịch Marketing, Sales dựa trên dữ liệu đã thu thập được.\n2.  Sử dụng dữ liệu CRM\n- Data về KH, về chăm sóc KH\n- Quản lý Lead\n- Thông tin về SLA của các cá nhân/nhóm/kênh\n3. Phân tích xu hướng thị trường:\n- Phân tích bảng giá, chương trình của đối thủ cạnh tranh\n- Đánh giá kết quả kinh doanh theo từng dịch vụ\n- Phát hiện xu hướng\n- Phân tích nhu cầu của các sản phẩm, dịch vụ của toàn thị trường để xây dựng cơ sở phát triển sản phẩm mới\n4. Đánh giá chương trình, cải tiến các báo cáo và góp ý sửa đổi quy chế bán hàng:\n- Đánh giá/đo lường kết quả chương trình đã ban hành\n- Đề xuất chương trình mới và sửa đổi chương trình để tâng tính tương thích\n- Đề xuất, sửa đổi quy chế bán hàng',
  '- Trình độ học vấn             : Tốt nghiệp Cao đẳng trở lên\n- Trình độ chuyên môn     : Ưu tiên cử nhân chuyên ngành QTKD/Kinh tế và các chuyên ngành có liên quan\n- Độ tuổi tuyển dụng         : 25 – 30\n- Kinh nghiệm làm việc : \n+ Kinh nghiệm phân tích ít nhất 2 năm hoặc đã đảm nhận vị trí tương đương\n+ Đã làm ngành logistic tối thiểu 1 năm\n- Kỹ năng   :\n + Có khả năng giao tiếp, trình bày và thuyết phục tốt\n + Đã sử dụng các phần mềm, Microsoft office và các công cụ phân tích như Power B.I, SQL\n+ Tiếng Anh _ Khá',
  '- Lương: 12 – 15 triệu\n- Được hưởng các quyền lợi theo quy định của Luật lao động về nghỉ tết, lễ…\n- Quà sinh nhật, tham gia các hoạt động phong trào thể thao, văn hóa, du lịch của công ty...\n- Được làm việc trong môi trường thân thiện, đội ngũ nhân viên trẻ, nhiệt tình.'],
 ['Act as a Project consultant & collaborator between Business functions (Growth, Commercial, Customer Service, Product, Tech) and Strategic & Analytics team.\nUse data-driven methodologies (qualitative and quantitative) to support in planning & executing cross-functional projects, as well as departmental daily operations.\nUtilize existing BI data & SQL skill to draw actionable inferences & insights to support, or go as far as leading new initiatives.\nBe a performance controller and advocate for quality strategic planning & operational excellence: diagnose declining trends across all business functions → identify root causes → control & monitor → recommendation for improvement.\nBe willing to do necessary researches (with guidance provided from line manager) to recognize market trends & improvement tactics across all business aspects',
  'More than 2 years of working experience in Strategy & Data Analytics, BI Consultant or Product Analytics.\nHave some basic knowledge of SQL (>3 months) with hands on experience as you will be using lots of SQL on a daily basis.\nStrong logical & critical thinking: being able to recognize patterns & connecting the dots.\nExperienced with providing data (either qualitative and quantitative) to support business functions & monitor next steps.\nUnderstand the rule of 20/80: set daily priorities, multitask & be an active owner of your tasks.\nGood communication skills & ability to explain your findings to business/technical stakeholders in an efficient manner.\nBe able to manage time effectively & deliver high-quality work.\nPossess a proactive mindset & positive attitude, able to bring in good influences to your teammates & stakeholders.',
  'Create impactful technology products to bring value to society, especially to those who are underserved.\nWork with tech-giant partners in Vietnam and the region: Vietjet, Sovico, Facebook, Google… and have access to the world’s leading investment funds.\nYoung, dynamic start-up environment with knowledgeable and experienced leaders.\nHone your skills through the new challenges, and have your say in contributing towards the common goals.\nCompetitive remuneration package.\nCool office, work time & location flexibility, other perks include snacks, coffee, and healthy food provided daily…']]

## Save data:

In [16]:
df = pd.DataFrame(sm_info[1])
df[:5]

,Mức lương,Số lượng tuyển,Hình thức làm việc,Cấp bậc,Giới tính,Kinh nghiệm
0,10-18 triệu,1 người,Toàn thời gian,Nhân viên,Nam,1 năm
1,Thoả thuận,1 người,Toàn thời gian,Nhân viên,Không yêu cầu,2 năm
2,Thoả thuận,1 người,Toàn thời gian,Nhân viên,Không yêu cầu,4 năm
3,12-15 triệu,1 người,Toàn thời gian,Nhân viên,Không yêu cầu,2 năm
4,"1,000-1,500 USD",1 người,Toàn thời gian,Nhân viên,Không yêu cầu,3 năm

In [17]:
company = sm_info[0]
df['Company'] = pd.Series(company)

In [18]:
first_column = df.pop('Company')
df.insert(0, 'Company', first_column)

In [19]:
df['Title'] = pd.Series(tt_job)
nd_column = df.pop('Title')
df.insert(1, 'Title', nd_column)

In [20]:
df['Links'] = pd.Series(job_link)

In [21]:
df[:5]

,Company,Title,Mức lương,Số lượng tuyển,Hình thức làm việc,Cấp bậc,Giới tính,Kinh nghiệm,Links
0,CÔNG TY TNHH THƯƠNG MẠI DỊCH VỤ VGS,Game Data Analyst - Phân Tích Dữ Liệu Game,10-18 triệu,1 người,Toàn thời gian,Nhân viên,Nam,1 năm,https://www.topcv.vn/viec-lam/game-data-analys...
1,CÔNG TY TNHH TRUYỀN HÌNH FPT,Data Analyst - Hồ Chí Minh,Thoả thuận,1 người,Toàn thời gian,Nhân viên,Không yêu cầu,2 năm,https://www.topcv.vn/viec-lam/data-analyst-ho-...
2,Công ty Cổ phần VIN3S,Data Analyst,Thoả thuận,1 người,Toàn thời gian,Nhân viên,Không yêu cầu,4 năm,https://www.topcv.vn/viec-lam/data-analyst/840...
3,Công ty cổ phần Hai Bốn Bảy,Chuyên Viên Phân Tích Dữ Liệu,12-15 triệu,1 người,Toàn thời gian,Nhân viên,Không yêu cầu,2 năm,https://www.topcv.vn/viec-lam/chuyen-vien-phan...
4,CÔNG TY TNHH FINAN (SoBanHang),"Data Analyst (BI Controller) _ Lương Upto $1,500","1,000-1,500 USD",1 người,Toàn thời gian,Nhân viên,Không yêu cầu,3 năm,https://www.topcv.vn/viec-lam/data-analyst-bi-...

In [22]:
df.to_csv('data_topcv.csv', sep=',', encoding='utf-8',index=False)

In [23]:
## save jd to csv:
des = []
re = []
be = []
for i in range(len(all_jd)):
    e_des = all_jd[i][0]
    des.append(e_des)
    e_re = all_jd[i][1]
    re.append(e_re)
    e_be = all_jd[i][2]
    be.append(e_be)

In [24]:
dict = {'Company': company, 'Title' : tt_job, 'Description': des, 'Required': re,'Benifits': be}

In [25]:
df_jd = pd.DataFrame(dict)
df_jd[:5]

,Company,Title,Description,Required,Benifits
0,CÔNG TY TNHH THƯƠNG MẠI DỊCH VỤ VGS,Game Data Analyst - Phân Tích Dữ Liệu Game,Tổng hợp dữ liệu người chơi game từ các nguồn ...,Có ít nhất 1 năm kinh nghiệm về phân tích dữ l...,Được làm việc trong một công ty game năng động...
1,CÔNG TY TNHH TRUYỀN HÌNH FPT,Data Analyst - Hồ Chí Minh,Work with the manager to identify market needs...,"Have a degree in Computer Science, Applied Mat...",Great opportunity to dive deeply into a big da...
2,Công ty Cổ phần VIN3S,Data Analyst,"Objective\n• Apply analysis, problem solving m...","• Bachelor’s degree in Business Analytics, Bus...",Salary is attractive and commensurates with co...
3,Công ty cổ phần Hai Bốn Bảy,Chuyên Viên Phân Tích Dữ Liệu,1. Phân tích dữ liệu và viết báo cáo liên quan...,- Trình độ học vấn : Tốt nghiệp Ca...,- Lương: 12 – 15 triệu\n- Được hưởng các quyền...
4,CÔNG TY TNHH FINAN (SoBanHang),"Data Analyst (BI Controller) _ Lương Upto $1,500",Act as a Project consultant & collaborator bet...,More than 2 years of working experience in Str...,Create impactful technology products to bring ...

In [26]:
df_jd.to_csv('jd_topcv.csv', sep=',', encoding='utf-8',index=False)